h1 {
    color: cyan;
    background-color: black;
  }
span { 
    color: rgb(244, 247, 248);
    background-color: black;
    }

  h2 {
    color: rgb(241, 246, 246);
    background-color: rgb(150, 12, 214);
    text-align: center;
    font-style: italic;
  }

  h3 {
    color: rgb(12, 13, 13);
    background-color: rgb(106, 220, 246);
    text-align: right;
    text-decoration: underline;
  }